.app{
  height: auto;
}
.app >.row{
  overflow-x: auto;
  overflow-y:hidden;
  flex-wrap: nowrap;
}
.heading{
  color: #fff;
}
.image-container{
  position: relative;
  transition: transform 0.2s
}
.image-container:hover{
  transform: scale(1.1);
}
.overlay{
  position: absolute;
  background: rgba(0,0,0,0.8);
  width: 100%;
  padding: 20px;
  transition: 0.5s ease;
  bottom: 0; 
  opacity: 0;
  text-align: center;
}
.overlay:hover{
  opacity:1;
}
.addFavour{
  font-weight: 500;
}
.title-name{
  text-shadow: 3px 3px rgba(255,255,255,0.4);
}
.btn{
  margin:1em 1em 1em 0em;
}
.error{
  color: #cf1f2b;
}